<div [@flyIn]="active">
    <div *ngIf="!modifyOperator">
        <input type="text" [(ngModel)]="operator">
        <button type="button" (click)="AddOperator(operator)">Add operator</button>
    </div>
    <div *ngIf="modifyOperator">
        <input type="text" [(ngModel)]="modify_Operator" (ngModelChange)="doSomething($event)">
        <button type="button" (click)="ModifyOperator()">Modify Operator</button>
    </div>
    <p>this is a operator list</p>
    <ul>
        <li *ngFor="let operator of operators; let i = index">
            <span (click)="EditOperator(operator)">{{ operator }}</span>
            <button type="button" (click)="DeleteOperator(i)">X</button>
        </li>
    </ul>
    <button type="button" (click)="ToggleShow()">{{showOperator ? "Hide operator" : "Show operator"}}</button>
    <div *ngIf="showOperator">
        <p>this is a ngIf div</p>
    </div>
    
</div>